@import "tailwindcss";

@plugin "daisyui" {
  themes: business --default;
  root: ":root";
  logs: true;
}

label {
  @apply block text-sm font-medium text-white;
}

input {
  @apply border text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500;
}

.hljs {
  @apply bg-slate-950!;
}
